name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 12 * * *'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          # Se eliminó la línea de cache que causaba el error
          # cache: 'npm'

      - name: Install dependencies (Backend)
        run: cd backend && npm install

      - name: Run backend tests
        run: cd backend && npm test

      - name: Install dependencies (Frontend)
        run: cd frontend && npm install

      - name: Build frontend
        run: cd frontend && npm run build

      - name: Print debug message
        run: echo "::debug::The CI workflow has completed successfully."
